$text           : #434b54;
$subText        : #b3bcc3;

$formBackground : #3798d4;
$inputField     : #2e77a4;
$submitButton   : #ff876d;

$white          : #ffffff;
$greyBorder     : #b3bcc3;
$chatBackground : #fcf6c5;

$helvetica      : 'Helvetica Neue';
$montserrat     : 'Montserrat';